<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Todos los videos en el servidor</p>
    <% allVids.forEach((video)=>{ %>
    <% console.log(video.videoURL) %>
    	<hr> 
      <h2>Dar click en el gif para ver el video completo:</h2>
      <a href="<%= "vid" + video.videoURL %>">
        <img src="<%= "/thumbs"+ video.videoURL.replace("mp4", "png") %>">
      </a>
      <!--
      <video controls="true" type='video/mp4' src="<%= "uploads"+ video.videoURL %>" preload="metadata" playsinline poster"<%= "thumbs"+ video.videoURL.replace("mp4","png") %>">
    	</video>
    -->
	<% });%>

  </body>
</html>
